name: Publish to crates.io

on:
  pull_request:
    branches:
      - main
    types:
      - closed
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    if: ${{ github.event.pull_request.merged && startsWith(github.event.pull_request.head.ref, 'release/') }}
    steps:
      - uses: actions/checkout@v6
      - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        id: auth
      - run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
